// Tasker single page item progress overview

.tasker-progress-overview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  //padding: 0 calc(min(1rem, 1vw));
}

.overview-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 600;

    span:first-child {
      color: #9aa5b1;
      font-size: 0.7rem;
    }

    span {
      color: #ffffff;
      font-size: 1.4rem;
    }
  }
}

.floor-overview {
  display: flex;
  flex-basis: 60%;
  justify-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 3px;
  height: 100%;
  border-right: 1px solid #616e7c;

  .floor-item {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    width: 4rem;
    text-align: center;

    &.progress {
      &-null {
        background-color: transparentize($color: #423d33, $amount: 0.91);
        color: #a39e93;
      }

      &-new {
        background-color: transparentize($color: #003e6b, $amount: 0.9);
        color: #2186eb;
      }

      &-low {
        background-color: transparentize($color: #003e6b, $amount: 0.7);
        color: #2186eb;
      }

      &-low-mid {
        background-color: #003e6b;
        color: #47a3f3;
      }

      &-high-mid {
        background-color: #0f609b;
        color: #7cc4fa;
      }

      &-high {
        background-color: #2680c2;
        color: #e6f6ff;
      }

      &-complete {
        background-color: #62b0e8;
        color: #ffffff;
        box-shadow: 0px 0px 0px 3px #ffffff inset;

        span {
          color: #ffffff;
        }
      }
    }
    span {
      display: block;
      font-size: 0.6rem;
      font-weight: 400;
      color: #cbd2d9;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
