// Tasker single page item
.tasker-single-page-item {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 0.6rem 2rem;
  min-height: 100%;

  .back-but {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    font-size: 1.3rem;
    transition: all 0.15s ease;

    span {
      color: #7b8794;
      cursor: pointer;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

.tasker-item-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.8;

  .description-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 0.5rem;

    &.full {
      .desc-collapse {
        display: none;
      }

      .description-text {
        height: unset;
      }
    }
  }

  .desc-collapse {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    color: #40c3f7;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(31, 41, 51, 0) 0%,
      rgba(31, 41, 51, 1) 100%
    );
    height: 100%;
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .description-text {
    &.long {
      position: relative;
      overflow: hidden;
      height: 4rem;
    }
  }
}

.tasker-item-controls {
  $svg-icon-dim: 1.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 260px;
  padding: 2rem 0;

  .btn {
    outline: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    transition: all 0.2s ease;
  }

  .check-off {
    background-color: #1992d4;
    color: #ffffff;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 500;

    &:hover {
      background-color: #2bb0ed;
    }

    span {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-checks' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 12l5 5l10 -10' /%3E%3Cpath d='M2 12l5 5m5 -5l5 -5' /%3E%3C/svg%3E");
      background-size: $svg-icon-dim $svg-icon-dim;
      height: $svg-icon-dim;
      width: $svg-icon-dim;
      margin: 0 0.2rem 0 -0.1rem;
    }
  }

  .s {
    color: #cbd2d9;
    padding: calc(0.5rem - 2px);
    background: none;
    border: 2px solid currentColor;
    border-radius: 5px;

    &:hover {
      color: #ffffff;
    }

    span {
      background-size: $svg-icon-dim $svg-icon-dim;
      height: $svg-icon-dim;
      width: $svg-icon-dim;
    }
  }
  .edit {
    span {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-pencil' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23CBD2D9' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4' /%3E%3Cline x1='13.5' y1='6.5' x2='17.5' y2='10.5' /%3E%3C/svg%3E");
    }

    &:hover {
      span {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-pencil' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFFFFF' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4' /%3E%3Cline x1='13.5' y1='6.5' x2='17.5' y2='10.5' /%3E%3C/svg%3E");
      }
    }
  }

  .delete {
    span {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-trash' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23CBD2D9' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cline x1='4' y1='7' x2='20' y2='7' /%3E%3Cline x1='10' y1='11' x2='10' y2='17' /%3E%3Cline x1='14' y1='11' x2='14' y2='17' /%3E%3Cpath d='M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12' /%3E%3Cpath d='M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3' /%3E%3C/svg%3E");
    }

    &:hover {
      span {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-trash' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFFFFF' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cline x1='4' y1='7' x2='20' y2='7' /%3E%3Cline x1='10' y1='11' x2='10' y2='17' /%3E%3Cline x1='14' y1='11' x2='14' y2='17' /%3E%3Cpath d='M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12' /%3E%3Cpath d='M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3' /%3E%3C/svg%3E");
      }
    }
  }
}

.tasker-floor-row {
  display: flex;
  flex-direction: column;
  span {
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    border-bottom: 1px solid #000;
  }

  &-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-item {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #000;
  }
}

.editing-controls {
  display: flex;
  border: 1px solid #000;
}

.device-item {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #000;

  &-edit {
    border: 1px solid red;
  }

  &-checkoffable {
    background-color: gray;
    color: white;
  }
  &-notcheckedoff {
    background-color: aquamarine;
  }
}
