// Tasker single page item device list

.tasker-device-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tasker-floor-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  h3 {
    border-bottom: 1px solid #616e7c;
    padding: 0 0 0.1rem 1rem;
    margin: 0 0 0.5rem 0;
  }

  &-items {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-item {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #000;
  }
}

.device-item {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #000;
  z-index: 3;

  &.edit {
    border: 1px solid red;
  }

  &.checkoffable {
    background-color: gray;
    color: white;
  }
  &.notcheckedoff {
    background-color: aquamarine;
  }
}

.device-group {
  cursor: pointer;
  position: relative;
  color: #ffffff;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  padding: 0.3rem;
  margin: 0.5rem 0;
  transition: all 0.1s ease;

  &.first {
    border-left: 2px solid currentColor;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &.last {
    border-right: 2px solid currentColor;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 1rem;
  }
  span {
    position: absolute;
    left: 0;
    bottom: 0;
    color: red;
  }

  &.hov {
    color: green;
  }
}
