// Tasker container

.task-container {
  background-color: #1f2933;
  color: #ffffff;
  grid-column: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 98vh;
  align-self: center;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  .task-controls-container {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  .task-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 6px 7px -2px rgba(0, 0, 0, 0.26);

    &.filters {
      position: absolute;
      z-index: 2;
      flex-wrap: wrap-reverse;
      background-color: #323f4b;
      box-shadow: none;
      bottom: -1px;
      padding: 0.7rem;
      min-height: 3rem;
      gap: 0.5rem;
    }

    &.fe {
      justify-content: flex-end;
    }
  }

  .tasker-items-container {
    will-change: transform; // TODO Test scrolling perf
    align-items: center;
    overflow-y: auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  select {
    appearance: none;
    margin: 0 0.5rem 0 0;
    background-color: #323f4b;
    border: 2px solid #7b8794;
    border-radius: 5px;
    color: #ffffff;
    padding: 0 24px 0 3px;
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M 12 10 L 7 15 L 17 15 Z" stroke="%237b8794" fill="%237b8794"/><path d="M0 0h24v24H0z" fill="none" /></svg>')
      100% 50% no-repeat;

    &:focus {
      outline: none;
    }

    option {
      background-color: #323f4b;
    }
  }
}

.tasker-container-tab-button {
  cursor: pointer;
  flex: 1 1 0px;
  color: #cbd2d9;
  font-size: 1.1rem;
  padding: 1rem 0;
  background: none;
  border: none;
  transition: all 0.15s ease;
  background-color: #323f4b;

  &:last-child {
    border: none;
  }

  &.active {
    background-color: #1f2933;
    box-shadow: 0px 4px 0px -1px #0b69a3 inset;
    color: #fff;
  }

  @media (hover: hover) {
    &:not(.active):hover {
      background-color: #29343f;
    }
  }

  &:focus {
    outline: none;
  }
}

.tasker-container-filter-button {
  cursor: pointer;
  color: #cbd2d9;
  padding: 0.2rem 1.5rem;
  font-weight: 600;
  background: none;
  border: 2px solid #7b8794;
  border-radius: 20px;
  transition: all 0.15s ease;
  background-color: #323f4b;

  &.active {
    background-color: #0b69a3;
    border: 2px solid #035388;
    color: #fff;
  }

  @media (hover: hover) {
    &:not(.active):hover {
      background-color: #29343f;
    }
  }

  &:focus {
    outline: none;
  }
}
