// Area

.area-name-label {
  display: inline;
  cursor: default;
  user-select: none;
  padding: 0.3rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.8rem;

  &.events-enabled {
    pointer-events: all;
  }
}

.area {
  stroke-width: 3;
  stroke-dasharray: 5;
  stroke-dashoffset: 1000;
  fill-rule: nonzero;
}

.area-group {
  fill: transparentize($color: #9aa5b1, $amount: 0.9);
  stroke: #9aa5b1;
  div {
    color: #ffffff;
    background-color: #616e7c;
  }

  &.area-selected {
    fill: transparentize($color: #127fbf, $amount: 0.9);
    stroke: #127fbf;

    div {
      background-color: #0b69a3;
    }
  }

  &.area-active-tasks {
    fill: transparentize($color: #0885a4, $amount: 0.9);
    stroke: #0885a4;

    div {
      background-color: #076e8f;
    }
  }

  foreignObject {
    overflow: visible;
    pointer-events: none;
    width: 4rem;
    height: 1.5rem;
  }
}

@media (hover: hover) {
  &.area-group.hov {
    cursor: pointer;
    &:hover {
      .area {
        animation: anim 60s linear forwards;
      }
    }

    @keyframes anim {
      to {
        stroke-dashoffset: 0;
      }
    }
  }

  &.area-group.hov.remove {
    &:hover {
      stroke: #e12d39;
      fill: transparentize($color: #e12d39, $amount: 0.9);

      div {
        background-color: #e12d39;
      }
    }
  }

  &.area-group.hov.redraw {
    &:hover {
      stroke: #fadb5f;
      fill: transparentize($color: #fadb5f, $amount: 0.9);

      div {
        background-color: #fadb5f;
      }
    }
  }
}
