// Geometry controls

.geometry-controls {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  & > div {
    pointer-events: all;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .nav-controls {
    gap: 4px;
    top: 60%;
    right: 20px;
  }

  .grid-controls {
    gap: 4px;
    top: 15%;
    right: 20px;
  }

  .floor-controls {
    flex-direction: row;
    gap: 6px;
    bottom: 20px;
    right: 30%;
  }

  .device-controls {
    bottom: 0;
  }
}

.filter-controls {
  justify-content: flex-end;
  bottom: 20px;
  right: 5%;
  height: 10rem;
}

.state-nav-controls {
  justify-content: flex-end;
  bottom: 20px;
  left: 5%;
  height: 10rem;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 4px;
  bottom: 40%;
  width: 15rem;
  background-color: #1f2933;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.32);

  &.s {
    width: 80px;
    left: -14px;
  }
}

.controls-button-labeled {
  cursor: pointer;
  width: 85%;
  display: flex;
  overflow: hidden;
  margin: 0.4rem 0;
  color: #e4e7eb;
  transition: 0.2s all ease;
  border-left: 2px solid #323f4b;
  border-right: 2px solid #323f4b;
  align-items: center;

  p {
    width: 100%;
    overflow: hidden;
    padding: 0 0.5rem;
    line-height: 50px;
    font-size: 0.8rem;
    user-select: none;
  }

  &:hover {
    background-color: #e4e7eb;
    color: #000000;
    border-left: 2px solid #127fbf;
    border-right: 2px solid #127fbf;

    svg {
      stroke: #127fbf;
      background-color: #e4e7eb;
    }
  }
}

.geo-button {
  cursor: pointer;
  position: relative;
  background-color: #1f2933;
  color: #ffffff;

  svg {
    display: block;
    stroke: #ffffff;
    stroke-width: 1;
    width: 50px;
    height: 50px;
    transition: 0.2s all ease;
  }

  g {
    transform: translate(60px, 55px);
  }

  &.shadow {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.4);
  }

  &.s {
    svg {
      width: 30px;
      height: 30px;
      stroke-width: 2;
    }
  }

  &.shadow.s {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  }

  &.m {
    svg {
      width: 40px;
      height: 40px;
    }
  }

  &.selected {
    svg {
      stroke: #2bb0ed;
    }
  }

  @media (hover: hover) {
    &.hov:hover {
      svg {
        stroke: #b3ecff;
      }
    }
  }

  &.disabled {
    svg {
      stroke: #7b8794;
    }
  }
}

.floor-display {
  cursor: pointer;
  position: relative;
  background-color: #1f2933;
  color: #ffffff;
  width: 60px;
  height: 50px;
  overflow: hidden;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.4);

  .reel {
    width: 60px;
    display: flex;
    flex-direction: column;

    div {
      width: 60px;
      height: 50px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
      line-height: 40px;
      padding: 0.3rem;
      font-weight: 500;
      font-size: 1.2rem;
      background-color: #1f2933;
      box-shadow: inset 0px 0px 0px 2px #ffffff;
      user-select: none;
    }
  }
}

.controls-floor-list {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  border-radius: 4px;
  bottom: 130%;
  left: -25%;
  background-color: #1f2933;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.32);
  padding: 1rem;
  width: 250px;
  overflow: hidden;

  div {
    cursor: pointer;
    text-align: center;
    border: 1px solid #323f4b;
    width: 60px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0.3rem;
    padding: 0 0.3rem;
    color: #ffffff;

    &.active {
      border: 1px solid #2bb0ed;
      color: #2bb0ed;
    }

    @media (hover: hover) {
      &:not(.active):hover {
        color: #b3ecff;
        border: 1px solid currentColor;
      }
    }
  }
}
