// Device

.device-icon {
  pointer-events: all;
  cursor: pointer;
  &.selected {
    fill: yellow;
  }

  svg {
    transition: all 0.1s ease;
  }

  use {
    transform: translate(35px, 31px);
    stroke: #fff;
    stroke-width: 2;
  }

  @media (hover: hover) {
    &:hover {
      svg {
        transform: scale(1.1, 1.1);
      }
    }
  }
}

.icon-body {
  filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.5));

  &.pc,
  &.laptop,
  &.phone {
    fill: #0b1d96;
  }

  &.printer,
  &.sound &.screen {
    fill: #6e0560;
  }

  &.network,
  &.server {
    fill: #016457;
  }

  &.other {
    fill: #423d33;
  }
}

.device-disabled {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}
