// Device

.device-icon {
  pointer-events: all;
  transition: all 0.25s ease;
  cursor: pointer;

  &.trnsp {
    opacity: 0.2;
  }

  &.gs {
    filter: grayscale(0.9);
  }

  svg {
    transition: all 0.1s ease;
  }

  use {
    transform: translate(35px, 31px);
    stroke: #fff;
    stroke-width: 2;
  }

  @media (hover: hover) {
    &:hover {
      svg {
        transform: scale(1.1, 1.1);
      }
    }
  }
}

.shadow-filter {
  flood-color: #000000;
  flood-opacity: 0.6;
}

.icon-body {
  &.pc,
  &.laptop,
  &.phone {
    fill: #0b1d96;
  }

  &.printer,
  &.sound &.screen {
    fill: #6e0560;
  }

  &.network,
  &.server {
    fill: #016457;
  }

  &.other {
    fill: #1e5303;
  }
}

.icon-indicator {
  fill: #b8b2a7;

  &.tasks {
    color: green;
  }

  &.notes {
    color: red;
  }

  &.active {
    fill: currentColor;
  }

  &.ok {
    fill: blue;
  }

  &.warning {
    fill: yellow;
  }

  &.failure {
    fill: red;
  }
}

.device-disabled {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}
