// Wall

.wall {
  color: #f5f7fa;

  line {
    stroke: currentColor;
    stroke-width: $geo-stroke-width;
  }

  circle {
    fill: currentColor;
  }

  &.active {
    pointer-events: none;
    opacity: 0.5;
  }

  @media (hover: hover) {
    &.hov-move:hover {
      color: #cbd2d9;
    }

    &.hov-remove:hover {
      color: #e12d39;
    }
  }
}
