// Wall

.wall {
  color: $geo-main;

  line {
    stroke: currentColor;
    stroke-width: 5;
  }

  circle {
    stroke: #000;
    fill: currentColor;
  }

  &.active {
    pointer-events: none;
    opacity: 0.5;
  }

  &.hov-move:hover {
    color: blue;
  }

  &.hov-remove:hover {
    color: red;
  }
}
