// Media queries

@media (max-width: 700px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .geometry {
    display: none;
  }

  .task-container {
    height: 100vh;
  }
}
