// Media queries

@media (max-width: 1000px) {
  body {
    width: 100vw;
    overflow: hidden;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  .geometry {
    //display: none; //TODO Tets mobile perf
    width: 100vw;
  }

  .task-container {
    //grid-column: 1;
    width: 100vw;
    height: 98vh;

    &.mob-visible {
      position: absolute;
      left: 1vw;
      top: 1vh;
    }
  }

  .geometry-controls {
    .nav-controls,
    .grid-controls,
    .tasker-container-visibility-controls {
      right: 8px;
    }

    .tasker-container-visibility-controls {
      display: block;
    }
  }
}

@media (hover: none) {
  [title]:focus::after {
    content: attr(title);
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    right: 0;
    color: #000;
    background-color: #fff;
    font-size: 0.7rem;
    padding: 0.2rem;
    width: fit-content;
    height: fit-content;
  }
}

@media (max-width: 550px) {
  .task-container {
    .task-controls {
      &.fe {
        justify-content: center;
      }
      select {
        width: 90%;
      }
    }
  }
}
