$geo-stroke-width: 5;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

@import 'palette';
@import 'spinner';
@import 'notifications';
@import 'geometry/device';
@import 'geometry/wall';
@import 'geometry/controls';
@import 'geometry/misc';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
}

.landing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  overflow: hidden;
}

.draw-area {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $geo-bg;
}

button {
  padding: 0 1.3rem;
}

.geometry {
  position: relative;
}

.text-edit {
  position: absolute;
}

.name-label {
  cursor: default;
  width: 100px;
  user-select: none;

  &-disabled {
    pointer-events: none;
  }
}

.task-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .task-controls-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .task-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    padding: 0.5rem 0;
  }

  .tasker-items-container {
    will-change: transform; // TODO Test scrolling perf
    overflow-y: auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    border: 1px solid #000;
    gap: 0.1rem;
  }
}

.collection-table-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  //justify-items: center;
  padding: 3rem;
  border: 1px solid black;
}

.collection-single-page {
  display: flex;
  flex-direction: column;
}

.collection-row {
  display: flex;
  flex-direction: column;
  span {
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    border-bottom: 1px solid #000;
  }

  &-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-item {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #000;
  }
}

.editing-controls {
  display: flex;
  border: 1px solid #000;
}

.device-item {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #000;

  &-edit {
    border: 1px solid red;
  }

  &-checkoffable {
    background-color: gray;
    color: white;
  }
  &-notcheckedoff {
    background-color: aquamarine;
  }
}

.confirmation-popup {
  background-color: bisque;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  border: 1px solid blueviolet;

  div {
    display: flex;
    flex-direction: row;
  }
}

@import 'media-queries';

// .test2 {
//   opacity: 0.5;
//   stroke: red;
//   transform: translate(-10px, -30px);
//   //transform: rotate(45deg);
// }
// use[href='#icon'] {
//   opacity: 0.5;
//   stroke: red;
//   transform: translate(-10px, -30px);
//   //transform: rotate(45deg);
// }
