.draw-area {
  width: 100%;
  height: 500px;
  border: 1px solid black;
}
svg {
  width: 100%;
  height: 100%;
}

.fo {
  background-color: aqua;
}

// svg {
//   background-image: radial-gradient(
//     rgba(122, 122, 122, 0.56) 2px,
//     transparent 0
//   );
//   background-size: 50px 50px;
//   background-position: 23px 23px;
// }
