* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.draw-area {
  position: relative;
  width: 100%;
  height: 500px;
  border: 1px solid black;
}

svg {
  width: 100%;
  height: 100%;
}

button {
  padding: 0 1.3rem;
}

.active {
  pointer-events: none;
  opacity: 0.5;
}

.geometry {
  position: relative;
}

.geometry-controls {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  div {
    pointer-events: all;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
  }

  .nav-controls {
    right: 0;
  }

  .state-nav-controls {
    flex-direction: row;
    bottom: 0;
    left: 20%;
  }

  .device-controls {
    bottom: 0;
  }
}
.text-edit {
  position: absolute;
}

.device-popup {
  position: relative;
  background-color: azure;
  border: 1px solid darkgreen;
  padding: 2rem;
}

.popup-outer {
  position: relative;
  pointer-events: none;
  z-index: 10;

  div {
    pointer-events: all;
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0;
  label {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}

.device-disabled {
  pointer-events: none;
}

.name-label {
  cursor: default;
  user-select: none;

  &-disabled {
    pointer-events: none;
  }
}
