@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');
@import 'common';
@import 'spinner';
@import 'notifications';
@import 'geometry/device';
@import 'geometry/area';
@import 'geometry/wall';
@import 'geometry/controls';
@import 'geometry/device-popup';
@import 'geometry/misc';
@import 'tasker/tasker-container';
@import 'tasker/tasker-list-item';
@import 'tasker/tasker-single-page-item';
@import 'tasker/tasker-progress-overview';
@import 'tasker/tasker-device-list';
@import 'tasker/tasker-floor-item';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
  overflow: hidden;
}

.landing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: grid;
  grid-auto-columns: 2fr 1fr;
  height: 100vh;
  overflow: clip; // Prevents scrolling on scrollIntoView with block: 'center'
  background-color: #323f4b;
}

.draw-area {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #323f4b;
}

button {
  font-family: inherit;
  user-select: none;
}

input,
textarea {
  padding: 0 0.3rem;
  user-select: auto;
  border: 2px solid #7b8794;
  background: none;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1.2rem;
}

label {
  display: flex;
  flex-direction: column;
  color: #cbd2d9;
  font-size: 1.1rem;
  gap: 0.1rem;
}

.error {
  user-select: none;
  overflow: hidden;
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;

  h1 {
    font-size: 4rem;
    margin: 2rem 0;
  }

  h2 {
    color: #7b8794;
    font-size: 2rem;
  }
}

@import 'media-queries';
